<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AlshayaGroup">


<listeners>
		<!-- <listener class-name="CustomListeners.TestListeners" /> -->
		<listener class-name="org.uncommons.reportng.HTMLReporter" />

	</listeners>


  <test name="Alshaya_Export_Xlsx_Report">
	<parameter name="URL_bathandbodyworks_AE" value="https://www.bathandbodyworks.ae/en/" />
	<parameter name="URL_bathandbodyworks_KW" value="https://www.bathandbodyworks.com.kw/en/" />
	<parameter name="URL_bathandbodyworks_SA" value="https://www.bathandbodyworks.com.sa/en/" />
	<parameter name="URL_Footlocker_AE" value="https://footlocker.ae/en/" />
	<parameter name="URL_Footlocker_KW" value="https://footlocker.com.kw/en/" />
	<parameter name="URL_Footlocker_SA" value="https://footlocker.com.sa/en/" />
	<parameter name="URL_HNM_AE" value="https://ae.hm.com/en/" />
	<parameter name="URL_HNM_KW" value="https://kw.hm.com/en/" />
	<parameter name="URL_HNM_SA" value="https://sa.hm.com/en/" />
	<parameter name="URL_MotherCare_AE" value="https://www.mothercare.ae/en/" />
	<parameter name="URL_MotherCare_KW" value="https://www.mothercare.com.kw/en/" />
	<parameter name="URL_MotherCare_SA" value="https://www.mothercare.com.sa/en/" />
	<parameter name="URL_Potterybarn_AE" value="https://www.potterybarn.ae/en/" />
	<parameter name="URL_Potterybarn_KW" value="https://www.potterybarn.com.kw/en/" />
	<parameter name="URL_Potterybarn_SA" value="https://www.potterybarn.com.sa/en/" />
	<parameter name="URL_Victoriassecret_AE" value="https://www.victoriassecret.ae/en/" />
	
 <classes> 
  <class name="AlshayaExportFunctionality.Export_bathandbodyworks_AE"/>
   <class name="AlshayaExportFunctionality.Export_bathandbodyworks_KW"/>
      <!-- <class name="AlshayaExportFunctionality.Export_Potterybarn_KW"/>
      <class name="AlshayaExportFunctionality.Export_Potterybarn_SA"/>
      <class name="AlshayaExportFunctionality.Export_HNM_AE"/>
      <class name="AlshayaExportFunctionality.Export_Victoriassecret_AE"/>
      <class name="AlshayaExportFunctionality.Export_MotherCare_SA"/>
      <class name="AlshayaExportFunctionality.Export_bathandbodyworks_SA"/>
      <class name="AlshayaExportFunctionality.Export_HNM_KW"/>
      <class name="AlshayaExportFunctionality.Export_MotherCare_KW"/>
      <class name="AlshayaExportFunctionality.Export_HNM_SA"/>
      <class name="AlshayaExportFunctionality.Export_Footlocker_AE"/>
      <class name="AlshayaExportFunctionality.Export_MotherCare_AE"/>
      <class name="AlshayaExportFunctionality.Export_bathandbodyworks_KW"/>
      <class name="AlshayaExportFunctionality.Export_Footlocker_SA"/>
      <class name="AlshayaExportFunctionality.Export_Potterybarn_AE"/>
      <class name="AlshayaExportFunctionality.Export_Footlocker_KW"/> --> 
    </classes>
    </test>
  
</suite> <!-- Suite -->
